
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-right: 0;
  font-family: sans-serif;
  --color1: #ffffff;
  --color2: #000000;
}

.repo h3 {
  margin-left: 15px;
  font-size: 20px;
}

.p123 h2 {
  margin-left: 15px;
  margin-bottom: -50px;
  font-size: 20px;
}

.perfil0 {
  padding: 20px;
  display: flex;
  align-items: center; 
}

.perfil0 img {
  max-width: 100%;
  height: auto;
  margin-right: 25px;
}

@media (max-width: 800px) {
  .perfil0 {
    flex-direction: column; 
    align-items: center;
  }
}

@media (min-width: 968px) {
  .perfil0 {
    max-width: 758px;
    margin: 0 auto; 
  }
}

.perfil0 p {
  padding-left: 15px; 
  padding-right: 15px; 
}

main {
  padding-left: 10%;
  max-width: 90%;
  max-height: auto;
  min-height: 20%;
  margin-bottom: 30px;
}

main a {
  color: rgb(255, 255, 255);
}

.nav-bar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  position: relative;
  background-color: var(--color2);
  padding: 12px 20px;
}

  
.menu { display: flex; }
.menu li { padding-left: 30px; }
.menu li a {
  display: inline-block;
  text-decoration: none;
  color: var(--color1);
  text-align: center;
  transition: 0.15s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

.menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--color1);
  transition: 0.15s ease-in-out;
} 

.menu li a:hover:after { width: 100%; }
.open-menu, .close-menu {
  position: absolute;
  color: var(--color1);
  cursor: pointer;
  font-size: 1.5rem;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

@media(max-width: 610px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    background-color: var(--color2);
    transition: all 0.2s ease-in-out;
  }

  .menu li { margin-top: 40px; }
  .menu li a { padding: 10px; }
  .open-menu, .close-menu { display: block; }
  #check:checked ~ .menu { right: 0; }
}

header h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  color: #ffffff;
  padding-top: 5px;
  text-align: center;
  margin-left: 22px;
  font-size: 130%;
}





.ttt1 hr {
  opacity: 100%;
  margin-right: 15px;
  background-color: #000;
  margin-left: 15px;
  height: 3px;
}

section a:hover {
  color: rgb(0, 132, 255);
}

section h2 {
  color: rgb(0, 132, 255);
}

footer {
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
  padding-bottom: 2%;
  left: 0;
  bottom: 0;
  font-size: 75%;
  background-color: black;
  color: white;
  height: 5%;
}

.icone {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
}

aside {
  margin-top: -35px;
}

.ttt1 h3 {
  padding-left: 15px;
  font-size: 15px;
}

section.geral00 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.geral00 .img01,
section.geral00 .img02,
section.geral00 .img03,
section.geral00 .img04 {
  text-align: center;
  flex: 0 0 calc(22% - 5px); 
  margin-bottom: 1px; 
 
}

main p:hover {
  color: rgb(0, 132, 255);
}

section.geral00 img {
  border-radius: 3px;
  width: 50%; 
  height: auto; 
  border: 3px solid #000;
}

section.geral00 p {
 text-align: center;
  font-weight: bold;
  font-size: 12px;
 
}

@media(max-width: 768px) {
  section.geral00 .img01,
  section.geral00 .img02,
  section.geral00 .img03,
  section.geral00 .img04 {
    flex: 0 0 calc(50% - 22px); /* Ajuste do valor de flex-basis */
    margin-bottom: 10px; /* Ajuste da margem inferior */
   
  }
  section.geral00 img {
    width: 50%; 
    margin: 0 auto; 
  }
  section.geral00 p {
    font-size: 14px;
    padding-left: 0;
    text-align: center; 
  }
}

@media(min-width: 769px) {
  section.geral00 .img01,
  section.geral00 .img02,
  section.geral00 .img03,
  section.geral00 .img04 {
    flex: 0 0 22%; 
  }
 }

 section .img01 img{
 
  margin-right: -50px;
 }

section.geral00 img {
  width: 55%; 
  margin: 0 auto; 
}

main p {
  font-size: 13px;
}

main .card {
  background-color: #0A0C10;
}

section.icone .r1,
section.icone .r2,
section.icone .r3 {
  width: 30px;
  border: none;
  flex: 0 0 calc(100% - 10px);
  margin-bottom: 7px;
}

.perfil0 h2 {
  padding-left: 15px;
  font-size: 15px;
}

.hr1 {
  background-color: #000;
  opacity: 100%;
  margin-left: 15px;
  margin-right: 15px;
  height: 3px;
}

main h3 {
  font-size: 15px; 
  padding-left: 15px;
}

main hr { 
  margin-left: 15px;
  margin-right: 15px;
  opacity: 100%;
  background-color: rgb(0, 0, 0);
}

main .card-body {
  color: rgb(255, 255, 255);
}

.carousel {
  max-width: 80%;
  max-height: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.carousel-inner img {
  max-height: 600px;
  width: auto;
}

section a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  color: rgb(0, 0, 0);
}

.titulo h3 {
  margin-left: 15px;
  font-size: 20px;
}

.titulo hr {
  opacity: 100
}

.titulo h3 {
  font-size: 20px;
}

.titulo hr {
  opacity: 100%;
}

.colegas h3 {
 margin-left: 15px;
   font-size: 20px;
}

.colegas hr {
  margin-left: 15px;
  margin-right: 15px;
}

.hr1 {
  opacity: 100%;
 height: 3px;
 margin-bottom: 15px;
}

 

section .conteudo-secao {
  display: flex;
  justify-content: center;
}

.aaaa {
  display: flex;
  justify-content: center;
  width: 100%;
}

.aaaa img {
  margin-top: 10px;
  border: 5px solid black;
  width: 250px;
  height: auto;
  border-radius: 3px;
 
}


 
section .texto-secao  h2 {
 
  margin-top: 0px;
  font-size: 20px
}
section .texto-secao  a{
  font-size: 16px;

}

section .texto-secao  p {
  font-size: 16px;
 
  margin-top: -10px;
}

section {
   margin-left: 20px;
  margin-right: 20px;
}
  

.nome-destaque {
    font-size: 24px; 
}


.icone1 .img-wrapper:hover img {
 background-color:  rgb(0, 132, 255);
 
}

.img1:hover img{
  padding: 2px;
 
}

.img1 img {
  padding: 5px;
}

.img2:hover img{
  padding: 2px;
 
}

.img2 img {
  padding: 5px;
}

.img3:hover img{
  padding: 2px;
 
}

.img3 img {
  padding: 5px;
}

.icone1 {
  margin-left: -10px;
  margin-bottom: -30px;
    display: flex;
    gap: 10px; 
    flex-wrap: wrap;
}

.icone1 div {
  margin-bottom: 10px; 
}

.texto-secao h2 {
  margin-top: 25px;
  font-size: 20px;
   
}



footer h4{
  font-size: 14px;
      }

    aside .geral00 p {
      font-size: 16px;
    }



  